<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Home</title>
  </head>
  <body class="bg-gray-100 min-h-screen flex justify-center items-center">
    <div class="bg-white p-10 rounded-lg shadow-lg w-full max-w-md">
      <h1 class="text-4xl font-bold mb-6 text-center text-gray-800">
        Book Store
      </h1>
      <% if (session) { %>
      <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-700 mb-2">
          Logged in as <%= session.user.name %>
        </h2>
        <h2 class="text-lg text-gray-600">
          Session expires <%= session.expires %>
        </h2>
      </div>
      <a
        href="/chat"
        class="bg-orange-500 hover:bg-orange-600 text-white font-semibold py-2 px-4 rounded-lg block text-center w-full mb-4"
      >
        Chatroom
      </a>
      <a
        href="/users/export"
        class="bg-purple-500 hover:bg-purple-600 text-white font-semibold py-2 px-4 rounded-lg block text-center w-full mb-4"
      >
        Export all user data
      </a>
      <a
        href="/upload"
        class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg block text-center w-full mb-4"
      >
        Upload Files
      </a>
      <a
        href="/auth/signout"
        class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded-lg block text-center w-full"
      >
        Sign Out
      </a>
      <% } else { %>
      <a
        href="/auth/signin"
        class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg block text-center w-full mb-4"
      >
        Sign In
      </a>
      <a
        href="/auth/signup"
        class="bg-gray-500 hover:bg-gray-600 text-white font-semibold py-2 px-4 rounded-lg block text-center w-full"
      >
        Sign Up
      </a>
      <% } %>
    </div>
  </body>
</html>
